body{
    text-align: center;
    background-image: url(camel.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

button{
    margin-top: 10px;
    border-width: 9px;
    background-color: rgb(52, 152, 240);


}

.we{
    background-color: rgb(199, 120, 18);
    padding:2px;
    outline-style: groove 2px;
    border-width: 7px;
}